@model RestaurantApp.Data.Models.Domain.Branch

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление нового филиала</h1>

<h4>Филиал</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployerId" class="control-label">Сотрудник</label>
                <select asp-for="EmployerId" class ="form-control" asp-items="ViewBag.EmployerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseItemId" class="control-label">Склад</label>
                <select asp-for="WarehouseItemId" class ="form-control" asp-items="ViewBag.WarehouseItemId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

